.container {
	width: 420px;
	height: 820px;
	margin-top: 3%;
	border: black 1px solid;
	border-radius: 55px;
	padding: 30px;
	background: rgb(252, 183, 122);
	background: linear-gradient(
		180deg,
		rgba(122, 252, 252, 0.8) 0%,
		rgba(255, 255, 255, 0.5) 33%
	);
	flex-direction: column;
}

.center {
	text-align: center;
	text-decoration: lemonchiffon;
}
.head {
	height: 30%;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
}

.h-1 {
	width: 90px;
	height: 90px;
	background-color: rgba(32, 32, 32, 0.2);
	border-radius: 15px;
}

.h-2 {
	font-size: 50px;
	font-weight: bold;
}

.h-3 {
	font-size: 18px;
}
.body {
	height: 50%;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 20px 10px 0 10px;
}

.end {
	height: 20%;
	flex-direction: column;
	justify-content: space-evenly;

	padding: 20px 10px 0 10px;
}

.top {
	height: 10%;
	flex-direction: column;
	justify-content: space-between;
	padding-right: 20px;
}

.mid {
	height: 82%;
	background-color: #f8f9fd;
	flex-wrap: wrap;
	overflow: scroll;
	padding-top: 20px;
}
.bot {
	height: 10%;
}
.nav {
	width: 100%;
	height: 100%;
	background-color: #0dc5ea;
	border-radius: 30px;
	padding: 0 30px;
}

.nav-child {
	width: calc(100% / 3);
	height: 100%;
	justify-content: center;
	align-items: center;
	border-radius: 30px;
}

.nav-child:active {
	transform: scale(0.9);
	background-color: hsla(190, 92%, 36%, 0.235);
}

.atas {
	height: 65%;
	flex-direction: column;
}

.atas-1 {
	height: 35%;
	flex-direction: column;
	align-items: center;
	color: #4a5568;
}
.atas-2 {
	height: 60%;
}

.detail {
	padding: 20px;
	width: 100%;
	height: 90%;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	margin-top: 10px;
	background: rgba(255, 255, 255, 0.39);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(8.6px);
	-webkit-backdrop-filter: blur(8.6px);
	border: 1px solid rgba(255, 255, 255, 0.7);
}

.detail-1 {
	height: 40%;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

.detail-2 {
	height: 60%;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.opsi-cont {
	width: 50%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.opsi {
	height: 70%;
	width: 75%;
	border-radius: 20px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10%;
	border: 3px solid;
	cursor: pointer;
}

.opsi:active {
	transform: scale(0.95);
}

.tengah {
	height: 30%;
	flex-direction: column;
	color: #4a5568;
}
